* {
	box-sizing: border-box;
	margin: 0;
}
h1 {
	color: #000;
	text-align: center;
}
body{
	background: lavender;
}
.header {
	padding: 100px;
	background-image: url("../images/to-do-list.jpeg");
	background-size: cover; /* will stretch out image to fill page if image is too small*/ 
	background-position: center;
	text-align: center;
	font-family: times;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 25px;
	}
.center-form {
	display: flex;
	justify-content: center;
	padding: 0 50%;
}
.labels {
	display: block;
	width: 600px;
	font-size: 30px;
	text-align: center;
	border: 2px solid #000;
	padding: 10px 0;
	margin: 0 auto;

}
#to-do-list {
	list-style: decimal;
	display: block;
	margin: 10px auto;
	height:;
	width: 100%;
	background: #fff;
	border: 3px solid pink;
	font-size: 20px;
}
.close-to-do {
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
	color: pink;
}
#user-submit {
	font-size: 14px;
	border-radius: 30px;
}
input {
	padding: 10px 5px 10px 5px;
	font-size: 18px;

}